extends layout-admin

block content
  .main-panel
    .container
      .page-inner
        .row
          .col-md-12
            .card.card-with-nav
              .card-body
                h1 Sorry! Page not found. Please click on below button or navigate through menu
                a(href="/admin/dashboard" class="btn btn-primary") Go to Dashboard