doctype transitional
head
  meta(charset='UTF-8')
  meta(content='width=device-width, initial-scale=1' name='viewport')
  meta(name='x-apple-disable-message-reformatting')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(content='telephone=no' name='format-detection')
  title
  style(type='text/css').
    /* CONFIG STYLES Please do not delete and edit CSS styles below */
    #outlook a {
        padding: 0;
    }
    .title-email {
      font-weight: 600;
      margin: 3px 0 2px;
    }
    .cust-email {
      margin-top: 10px;
    }

    .ExternalClass {
        width: 100%;
    }

    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
        line-height: 100%;
    }

    .es-button {
        mso-style-priority: 100 !important;
        text-decoration: none !important;
    }

    a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
    }

    .es-desk-hidden {
        display: none;
        float: left;
        overflow: hidden;
        width: 0;
        max-height: 0;
        line-height: 0;
        mso-hide: all;
    }

    /*
    END OF IMPORTANT
    */
    s {
        text-decoration: line-through;
    }

    html,
    body {
        width: 100%;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }

    body {
        font-family: lato, 'helvetica neue', helvetica, arial, sans-serif;
    }

    table {
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt;
        border-collapse: collapse;
        border-spacing: 0px;
    }

    table td,
    html,
    body,
    .es-wrapper {
        padding: 0;
        Margin: 0;
    }

    .es-content,
    .es-header,
    .es-footer {
        table-layout: fixed !important;
        width: 100%;
    }

    img {
        display: block;
        border: 0;
        outline: none;
        text-decoration: none;
        -ms-interpolation-mode: bicubic;
    }

    table tr {
        border-collapse: collapse;
    }

    p,
    hr {
        Margin: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        Margin: 0;
        line-height: 120%;
        mso-line-height-rule: exactly;
        font-family: lato, 'helvetica neue', helvetica, arial, sans-serif;
    }

    p,
    ul li,
    ol li,
    a {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
        mso-line-height-rule: exactly;
    }

    .es-left {
        float: left;
    }

    .es-right {
        float: right;
    }

    .es-p5 {
        padding: 5px;
    }

    .es-p5t {
        padding-top: 5px;
    }

    .es-p5b {
        padding-bottom: 5px;
    }

    .es-p5l {
        padding-left: 5px;
    }

    .es-p5r {
        padding-right: 5px;
    }

    .es-p10 {
        padding: 10px;
    }

    .es-p10t {
        padding-top: 10px;
    }

    .es-p10b {
        padding-bottom: 10px;
    }

    .es-p10l {
        padding-left: 10px;
    }

    .es-p10r {
        padding-right: 10px;
    }

    .es-p15 {
        padding: 15px;
    }

    .es-p15t {
        padding-top: 15px;
    }

    .es-p15b {
        padding-bottom: 15px;
    }

    .es-p15l {
        padding-left: 15px;
    }

    .es-p15r {
        padding-right: 15px;
    }

    .es-p20 {
        padding: 20px;
    }

    .es-p20t {
        padding-top: 20px;
    }

    .es-p20b {
        padding-bottom: 20px;
    }

    .es-p20l {
        padding-left: 20px;
    }

    .es-p20r {
        padding-right: 20px;
    }

    .es-p25 {
        padding: 25px;
    }

    .es-p25t {
        padding-top: 25px;
    }

    .es-p25b {
        padding-bottom: 25px;
    }

    .es-p25l {
        padding-left: 25px;
    }

    .es-p25r {
        padding-right: 25px;
    }

    .es-p30 {
        padding: 30px;
    }

    .es-p30t {
        padding-top: 30px;
    }

    .es-p30b {
        padding-bottom: 30px;
    }

    .es-p30l {
        padding-left: 30px;
    }

    .es-p30r {
        padding-right: 30px;
    }

    .es-p35 {
        padding: 35px;
    }

    .es-p35t {
        padding-top: 35px;
    }

    .es-p35b {
        padding-bottom: 35px;
    }

    .es-p35l {
        padding-left: 35px;
    }

    .es-p35r {
        padding-right: 35px;
    }

    .es-p40 {
        padding: 40px;
    }

    .es-p40t {
        padding-top: 40px;
    }

    .es-p40b {
        padding-bottom: 40px;
    }

    .es-p40l {
        padding-left: 40px;
    }

    .es-p40r {
        padding-right: 40px;
    }

    .es-menu td {
        border: 0;
    }

    .es-menu td a img {
        display: inline-block !important;
    }

    /* END CONFIG STYLES */
    a {
        text-decoration: underline;
    }

    p,
    ul li,
    ol li {
        font-family: lato, 'helvetica neue', helvetica, arial, sans-serif;
        line-height: 150%;
    }

    ul li,
    ol li {
        Margin-bottom: 15px;
        margin-left: 0;
    }

    .es-menu td a {
        text-decoration: none;
        display: block;
        font-family: lato, 'helvetica neue', helvetica, arial, sans-serif;
    }

    .es-wrapper {
        width: 100%;
        height: 100%;
        background-repeat: repeat;
        background-position: center top;
    }

    .es-wrapper-color,
    .es-wrapper {
        background-color: #f4f4f4;
    }

    .es-header {
        background-color: #7c72dc;
        background-repeat: repeat;
        background-position: center top;
    }

    .es-header-body {
        background-color: #7c72dc;
    }

    .es-header-body p,
    .es-header-body ul li,
    .es-header-body ol li {
        color: #666666;
        font-size: 14px;
    }

    .es-header-body a {
        color: #111111;
        font-size: 14px;
    }

    .es-content-body {
        background-color: #ffffff;
    }

    .es-content-body p,
    .es-content-body ul li,
    .es-content-body ol li {
        color: #666666;
        font-size: 18px;
    }

    .es-content-body a {
        color: #7c72dc;
        font-size: 18px;
    }

    .es-footer {
        background-color: transparent;
        background-repeat: repeat;
        background-position: center top;
    }

    .es-footer-body {
        background-color: transparent;
    }

    .es-footer-body p,
    .es-footer-body ul li,
    .es-footer-body ol li {
        color: #666666;
        font-size: 14px;
    }

    .es-footer-body a {
        color: #111111;
        font-size: 14px;
    }

    .es-infoblock,
    .es-infoblock p,
    .es-infoblock ul li,
    .es-infoblock ol li {
        line-height: 120%;
        font-size: 12px;
        color: #cccccc;
    }

    .es-infoblock a {
        font-size: 12px;
        color: #cccccc;
    }

    h1 {
        font-size: 48px;
        font-style: normal;
        font-weight: normal;
        color: #111111;
    }

    h2 {
        font-size: 24px;
        font-style: normal;
        font-weight: normal;
        color: #111111;
    }

    h3 {
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        color: #111111;
    }

    .es-header-body h1 a,
    .es-content-body h1 a,
    .es-footer-body h1 a {
        font-size: 48px;
    }

    .es-header-body h2 a,
    .es-content-body h2 a,
    .es-footer-body h2 a {
        font-size: 24px;
    }

    .es-header-body h3 a,
    .es-content-body h3 a,
    .es-footer-body h3 a {
        font-size: 20px;
    }

    a.es-button,
    button.es-button {
        display: inline-block;
        background: #7c72dc;
        border-radius: 2px;
        font-size: 20px;
        font-family: helvetica, 'helvetica neue', arial, verdana, sans-serif;
        font-weight: normal;
        font-style: normal;
        line-height: 120%;
        color: #ffffff;
        text-decoration: none;
        width: auto;
        text-align: center;
        padding: 15px 25px 15px 25px;
        mso-padding-alt: 0;
        mso-border-alt: 10px solid #7c72dc;
    }

    .es-button-border {
        border-style: solid solid solid solid;
        border-color: #7c72dc #7c72dc #7c72dc #7c72dc;
        background: #7c72dc;
        border-width: 1px 1px 1px 1px;
        display: inline-block;
        border-radius: 2px;
        width: auto;
    }

    /* RESPONSIVE STYLES Please do not delete and edit CSS styles below. If you don't need responsive layout, please delete this section. */
    @media only screen and (max-width: 600px) {

        p,
        ul li,
        ol li,
        a {
            line-height: 150% !important;
        }

        h1,
        h2,
        h3,
        h1 a,
        h2 a,
        h3 a {
            line-height: 120% !important;
        }

        h1 {
            font-size: 30px !important;
            text-align: center;
        }

        h2 {
            font-size: 26px !important;
            text-align: center;
        }

        h3 {
            font-size: 20px !important;
            text-align: center;
        }

        .es-header-body h1 a,
        .es-content-body h1 a,
        .es-footer-body h1 a {
            font-size: 30px !important;
        }

        .es-header-body h2 a,
        .es-content-body h2 a,
        .es-footer-body h2 a {
            font-size: 26px !important;
        }

        .es-header-body h3 a,
        .es-content-body h3 a,
        .es-footer-body h3 a {
            font-size: 20px !important;
        }

        .es-menu td a {
            font-size: 16px !important;
        }

        .es-header-body p,
        .es-header-body ul li,
        .es-header-body ol li,
        .es-header-body a {
            font-size: 16px !important;
        }

        .es-content-body p,
        .es-content-body ul li,
        .es-content-body ol li,
        .es-content-body a {
            font-size: 16px !important;
        }

        .es-footer-body p,
        .es-footer-body ul li,
        .es-footer-body ol li,
        .es-footer-body a {
            font-size: 16px !important;
        }

        .es-infoblock p,
        .es-infoblock ul li,
        .es-infoblock ol li,
        .es-infoblock a {
            font-size: 12px !important;
        }

        *[class="gmail-fix"] {
            display: none !important;
        }

        .es-m-txt-c,
        .es-m-txt-c h1,
        .es-m-txt-c h2,
        .es-m-txt-c h3 {
            text-align: center !important;
        }

        .es-m-txt-r,
        .es-m-txt-r h1,
        .es-m-txt-r h2,
        .es-m-txt-r h3 {
            text-align: right !important;
        }

        .es-m-txt-l,
        .es-m-txt-l h1,
        .es-m-txt-l h2,
        .es-m-txt-l h3 {
            text-align: left !important;
        }

        .es-m-txt-r img,
        .es-m-txt-c img,
        .es-m-txt-l img {
            display: inline !important;
        }

        .es-button-border {
            display: block !important;
        }

        a.es-button,
        button.es-button {
            font-size: 20px !important;
            display: block !important;
            padding: 15px 25px 15px 25px !important;
        }

        .es-btn-fw {
            border-width: 10px 0px !important;
            text-align: center !important;
        }

        .es-adaptive table,
        .es-btn-fw,
        .es-btn-fw-brdr,
        .es-left,
        .es-right {
            width: 100% !important;
        }

        .es-content table,
        .es-header table,
        .es-footer table,
        .es-content,
        .es-footer,
        .es-header {
            width: 100% !important;
            max-width: 600px !important;
        }

        .es-adapt-td {
            display: block !important;
            width: 100% !important;
        }

        .adapt-img {
            width: 100% !important;
            height: auto !important;
        }

        .es-m-p0 {
            padding: 0px !important;
        }

        .es-m-p0r {
            padding-right: 0px !important;
        }

        .es-m-p0l {
            padding-left: 0px !important;
        }

        .es-m-p0t {
            padding-top: 0px !important;
        }

        .es-m-p0b {
            padding-bottom: 0 !important;
        }

        .es-m-p20b {
            padding-bottom: 20px !important;
        }

        .es-mobile-hidden,
        .es-hidden {
            display: none !important;
        }

        tr.es-desk-hidden,
        td.es-desk-hidden,
        table.es-desk-hidden {
            width: auto !important;
            overflow: visible !important;
            float: none !important;
            max-height: inherit !important;
            line-height: inherit !important;
        }

        tr.es-desk-hidden {
            display: table-row !important;
        }

        table.es-desk-hidden {
            display: table !important;
        }

        td.es-desk-menu-hidden {
            display: table-cell !important;
        }

        .es-menu td {
            width: 1% !important;
        }

        table.es-table-not-adapt,
        .esd-block-html table {
            width: auto !important;
        }

        table.es-social {
            display: inline-block !important;
        }

        table.es-social td {
            display: inline-block !important;
        }

        .es-desk-hidden {
            display: table-row !important;
            width: auto !important;
            overflow: visible !important;
            max-height: inherit !important;
        }
    }

    /* END RESPONSIVE STYLES */
    .es-p-default {
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 0px;
        padding-left: 30px;
    }

    .es-p-all-default {
        padding: 0px;
    }

    /* Footer CSS */

    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      padding: 0;
    }

    a[x-apple-data-detectors] {
      color: inherit !important;
      text-decoration: inherit !important;
    }

    #MessageViewBody a {
      color: inherit;
      text-decoration: none;
    }

    p {
      line-height: inherit
    }

    .desktop_hide,
    .desktop_hide table {
      mso-hide: all;
      display: none;
      max-height: 0px;
      overflow: hidden;
    }

    .image_block img+div {
      display: none;
    }

    @media (max-width:660px) {

      .desktop_hide table.icons-inner,
      .social_block.desktop_hide .social-table {
        display: inline-block !important;
      }

      .icons-inner {
        text-align: center;
      }

      .icons-inner td {
        margin: 0 auto;
      }

      .row-content {
        width: 100% !important;
      }

      .mobile_hide {
        display: none;
      }

      .stack .column {
        width: 100%;
        display: block;
      }

      .mobile_hide {
        min-height: 0;
        max-height: 0;
        max-width: 0;
        overflow: hidden;
        font-size: 0px;
      }

      .desktop_hide,
      .desktop_hide table {
        display: table !important;
        max-height: none !important;
      }
    }
  //if (mso 16)
    style(type='text/css').
      a {text-decoration: none;}
  //if gte mso 9
    style.
      sup { font-size: 100% !important; }
  //if gte mso 9
    xml
      o:officedocumentsettings
        o:allowpng
        o:pixelsperinch 96
  // [if !mso] <!
  link(href='https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i' rel='stylesheet')
  // <![endif]
.es-wrapper-color
  //if gte mso 9
    v:background(xmlns:v='urn:schemas-microsoft-com:vml' fill='t')
      v:fill(type='tile' color='#f4f4f4')
  table.es-wrapper(width='100%' cellspacing='0' cellpadding='0')
    tbody
      tr.gmail-fix(height='0')
        td
          table(width='600' cellspacing='0' cellpadding='0' border='0' align='center')
            tbody
              tr
                td(cellpadding='0' cellspacing='0' border='0' style='line-height: 1px; min-width: 600px;' height='0')
                  img(src='https://xcmwcd.stripocdn.email/content/guids/CABINET_837dc1d79e3a5eca5eb1609bfe9fd374/images/41521605538834349.png' style='display: block; max-height: 0px; min-height: 0px; min-width: 600px; width: 600px;' alt='' width='600' height='1')
      tr
        td.esd-email-paddings(valign='top')
          table.es-header.esd-header-popover(cellspacing='0' cellpadding='0' align='center')
            tbody
              tr
                td.esd-stripe(esd-custom-block-id='6339' style='background-color: #00356b;' bgcolor='#00356b' align='center')
                  table.es-header-body(width='600' cellspacing='0' cellpadding='0' align='center' bgcolor='#00356b' style='background-color: #00356b;')
                    tbody
                      tr
                        td.esd-structure.es-p20t.es-p10b.es-p10r.es-p10l(align='left')
                          table(width='100%' cellspacing='0' cellpadding='0')
                            tbody
                              tr
                                td.esd-container-frame(width='580' valign='top' align='center')
                                  table(width='100%' cellspacing='0' cellpadding='0')
                                    tbody
                                      tr
                                        td.esd-block-image.es-p25t.es-p25b.es-p10r.es-p10l(align='center' style='font-size: 0px;')
                                          a(href='' target='_blank')
                                            img(src='https://xcmwcd.stripocdn.email/content/guids/fea86e68-3818-4e03-a6c5-4fc7e731470e/images/image1.jpeg' alt='' style='display: block;' width='223')
          table.es-content(cellspacing='0' cellpadding='0' align='center')
            tbody
              tr
                td.esd-stripe(style='background-color: #00356b;' esd-custom-block-id='6340' bgcolor='#00356b' align='center')
                  table.es-content-body(style='background-color: transparent;' width='600' cellspacing='0' cellpadding='0' align='center')
                    tbody
                      tr
                        td.esd-structure(align='left')
                          table(width='100%' cellspacing='0' cellpadding='0')
                            tbody
                              tr
                                td.esd-container-frame(width='600' valign='top' align='center')
                                  table(style='background-color: #ffffff; border-radius: 4px; border-collapse: separate;' width='100%' cellspacing='0' cellpadding='0' bgcolor='#ffffff')
                                    tbody
                                      tr
                                        td.esd-block-spacer.es-p5t.es-p30b.es-p20r.es-p20l(bgcolor='#ffffff' align='center' style='font-size:0')
                                          table(width='100%' height='100%' cellspacing='0' cellpadding='0' border='0')
                                            tbody
                                              tr
                                                td(style='border-bottom: 1px solid #ffffff; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; height: 1px; width: 100%; margin: 0px;')
          table.es-content(cellspacing='0' cellpadding='0' align='center')
            tbody
              tr
                td.esd-stripe(align='center')
                  table.es-content-body(style='background-color: #ffffff;' width='600' cellspacing='0' cellpadding='0' bgcolor='#ffffff' align='center')
                    tbody
                      tr
                        td.esd-structure(align='left')
                          table(width='100%' cellspacing='0' cellpadding='0')
                            tbody
                              tr
                                td.esd-container-frame(width='600' valign='top' align='center')
                                  table(style='background-color: #ffffff;' width='100%' cellspacing='0' cellpadding='0' bgcolor='#ffffff')
                                    tbody
                                      tr
                                        td.esd-block-text.es-m-txt-l.es-p20t.es-p30r.es-p30l(bgcolor='#ffffff' align='left' esd-links-color='#00356b')
                                          p Hi #{msg.firstName},
                                          p
                                            br
                                          p
                                            | New user has been registered on KIDOSYS.&nbsp;Please login into KIDOSYS & approve.
                                          p
                                            br
                                          p Country: #{msg.country}
                                          p Zone: #{msg.zone}
                                          p Center: #{msg.center}
                                          p
                                            br
                                          p
                                            | Login Now:&nbsp;
                                            a(href='https://staging.kidosys.kidoschools.com' target='_blank' style='color: #00356b;') https://staging.kidosys.kidoschools.com
                                            br
                      tr
                        td.esd-structure(align='left')
                          table(width='100%' cellspacing='0' cellpadding='0')
                            tbody
                              tr
                                td.esd-container-frame(width='600' valign='top' align='center')
                                  table(width='100%' cellspacing='0' cellpadding='0')
                                    tbody
                                      tr
                                        td.esd-block-button.es-p40t.es-p40b.es-p10r.es-p10l(align='center')
                                          span.es-button-border(style='border-radius: 6px; border-color: #00356b; background: #00356b;')
                                            a.es-button.es-button-1686205380847(href='https://staging.kidosys.kidoschools.com' target='_blank' style='border-radius: 6px; padding: 10px 25px; background: #00356b; mso-border-alt: 10px solid #00356b') Login Now
          table.es-footer.esd-footer-popover(cellpadding='0' cellspacing='0' align='center')
            tbody
              tr
                td.esd-stripe(esd-custom-block-id='6342' align='center')
                  table.es-footer-body(width='600' cellspacing='0' cellpadding='0' align='center')
                    tbody
                      tr
                        td.esd-structure(align='left')
                          table(width='100%' cellspacing='0' cellpadding='0')
                            tbody
                              tr
                                td.esd-container-frame(width='600' valign='top' align='center')
                                  table(width='100%' cellspacing='0' cellpadding='0')
                                    tbody
                                      tr
                                        td.esd-block-text.es-p5t(align='center')
                                          p This mail is auto-generated from KIDOSYS.
table.body(border='0', cellpadding='0', cellspacing='0')
  tr
    td
    td.container
      .content
        table.main
          tr
            td.wrapper
              table(border='0', cellpadding='0', cellspacing='0')
                tr
                  td
                    p.title-email Regards,
                    p.title-email System Admin
                    p.title-email KID-O EDUCATION PVT. LTD.
                    img(src='https://staging.kidosys.kidoschools.com/admin/assets/img/kido_mail.jpg')
                    p.cust-email India Office: 201, Corporate Centre, Marol Pipeline Rd, Ajit Nagar, JB Nagar, Andheri East, Mumbai, Maharashtra - 400 059
                    p(style="margin-bottom: 20px;") Email: kidoindia@kidoschools.com
hr
table.nl-container(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ffffff; background-image: none; background-position: top left; background-size: auto; background-repeat: no-repeat; margin-top: 20px;' width='100%')
  tbody
    tr
      td
        table.row.row-1(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
          tbody
            tr
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ffffff; color: #000000; width: 640px;' width='640')
                  tbody
                    tr
                      td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-bottom: 10px; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='100%')
                        table.social_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                          tr
                            td.pad(style='padding-left:20px;padding-right:20px;text-align:center;')
                              .alignment(align='center')
                                table.social-table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; text-align:center' width='126px')
                                  tr
                                    td(style='padding:0 0px 0 0px;')
                                      a(href='https://api.whatsapp.com/send?phone=9920424423' target='_blank' style='display:inline-block;padding:0 5px')
                                        img(alt='WhatsApp' height='32' src='https://staging.kidosys.kidoschools.com/admin/assets/img/whatsapp.png' style='display: block; height: auto; border: 0;' title='WhatsApp' width='32')
                                      a(href='mailto:hello@kidoschools.com' target='_blank' style='display:inline-block;padding:0 5px')
                                        img(alt='E-Mail' height='32' src='https://staging.kidosys.kidoschools.com/admin/assets/img/mail.png' style='display: block; height: auto; border: 0;' title='E-Mail' width='32')
                                      a(href='https://www.kidoschools.com/' target='_blank' style='display:inline-block;padding:0 5px')
                                        img(alt='Website' height='32' src='https://staging.kidosys.kidoschools.com/admin/assets/img/website_icon.png' style='display: block; height: auto; border: 0;' title='Instagram' width='32')
        table.row.row-2(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
          tbody
            tr
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ffffff; color: #000000; width: 640px;' width='640')
                  tbody
                    tr
                      td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='100%')
                        table.text_block.block-1(border='0' cellpadding='10' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                          tr
                            td.pad
                              div(style='font-family: sans-serif')
                                div(style="font-size: 14px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; mso-line-height-alt: 16.8px; color: #4a4a4a; line-height: 1.2;")
                                  p(style='margin: 0; text-align: center; mso-line-height-alt: 16.8px;') India Office: 201, Corporate Centre, Marol Pipeline Rd
                                  p(dir='ltr' style='margin: 0; text-align: center; mso-line-height-alt: 16.8px;') Ajit Nagar, JB Nagar, Andheri East, Mumbai,
                                  p(style='margin: 0; text-align: center; mso-line-height-alt: 16.8px;') Maharashtra - 400 059
